@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url(../font/Graphik-BoldItalic-Trial.otf);

:root {
  --white: #ffffff;
  --blue80: #2091f9;
  --text_dark_blue: #252b42;
  --p_text_black_40: #374754;
  --black100: #18171d;
  --roboto: "Roboto";
  --graphik: "Graphik";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1775px;
  margin: auto;
  padding-top: 72px;
  transition: 1.2s all;
}
.header {
  width: 100%;
  max-width: 1777px;
}
.img_1 {
  position: relative;
  width: 100%;
  max-width: 1775px;
  height: 930px;
}
.container > img {
  width: 100%;
}
.nav {
  position: absolute;
  margin-top: -910px;
  width: 100%;
  max-width: 1210px;
  height: 156px;
  display: flex;
  gap: 15.5px;
  margin-left: 80px;
  justify-content: space-between;
  align-items: center;
  transform: translateX(100px);
}
.img_header {
  width: 100%;
  padding-bottom: 115px;
}
.nav_a > a {
  margin-left: 31px;
  font-family: var(--graphik);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2%;
  color: var(--white);
  text-decoration: none;
  transition: all 0.9s;
  opacity: 70%;
}
.nav_a > a:hover{
  border-bottom: 5px solid gray;
transition: all 1.2s;

}
.nav_a {
  padding-left: 31px;
  padding-right: 31px;
  display: flex;
  margin-bottom: 38px;
  gap: 13px;
}
.header_button {
  width: 100%;
  max-width: 185px;
  border: 1px solid var(--white);
  border-radius: 24px;
  transition: all 0.4s;
  padding: 12px 0;
  font-family: var(--graphik);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 1%;
  color: var(--blue80);
  background-color: var(--white);
  cursor: pointer;
  transform: translateX(-30px);
  border: none;
}
.nav_text > button:hover{
  background-color: var(--white);
  color: var(--blue80);
  border: 1px solid var(--blue80);
  transition: all 1.2s;
}
.nav_text {
  width: 100%;
  max-width: 786px;
  margin-bottom: -900px;
  position: absolute;
  align-items: center;
  margin-left: 494px;
  margin-top: -175px;
  transform: translateX(-315px);
  padding-bottom: 30px;
  padding-top: 60px;
}
.nav_text > h1 {
  font-weight: 700;
  font-size: 74px;
  line-height: 84px;
  letter-spacing: 0.2px;
  font-family: var(--roboto);
  color: var(--white);
  text-align: center;
  justify-content: center;
}
.nav_text > p {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  font-family: var(--roboto);
  opacity: 80%;
  color: var(--white);
  text-align: center;
  justify-content: center;
  padding-top: 17px;
}
.nav_text > p:nth-of-type(2) {
  padding: 0;
}
.logo_nav {
  width: 100%;
  max-width: 50%;
  margin-right: 24.3%;
  margin-bottom: 30px;
}
.ikon_nav {
  margin-left: 20px;
  display: flex;
  gap: 27px;
  margin-right: 30%;
  margin-bottom: 40px;
}
.header_button {
  width: 100%;
  max-width: 236px;
  text-align: center;
  justify-content: center;
  margin-left: 315px;
  margin-top: 60px;
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--white);
  background-color: var(--blue80);
  margin-top: 100px;
  padding: 16px 62px;
  border-radius: 35px;
}
.section1 {
  width: 100%;
  max-width: 1777px;
}
.section1_header {
  padding-top: 17px;
}
.section1_header > h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  font-family: var(--roboto);
  color: var(--text_dark_blue);
  text-align: center;
  justify-content: center;
  padding-bottom: 17px;
}
.section1_header > p {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  font-family: var(--roboto);
  opacity: 80%;
  color: var(--text_dark_blue);
  text-align: center;
  justify-content: center;
}
.section1_variables {
  display: flex;
  justify-content: space-evenly;
  width: 869px;
  margin: auto;
  padding-top: 80px;
}
.header_section {
  width: 255px;
  height: 257px;
}
.header_section > h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  font-family: var(--roboto);
  color: var(--text_dark_blue);
  text-align: center;
  justify-content: center;
}

.header_section > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: var(--roboto);
  opacity: 80%;

  color: var(--text_dark_blue);
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}
.header_section > svg {
  display: flex;
  width: 100%;
  max-width: 61px;
  height: 61px;
  margin-left: 109px;
  margin-bottom: 20px;
}
.section1_img > img {
  margin: 238px;
  display: flex;
  margin: auto;
  padding-top: 70px;
}
.nav_button_nev {
  transform: translateY(40px);
}
.section2 {
  width: 100%;
  max-width: 1777;
  display: flex;
  padding-bottom: 100px;
  padding-top: 293px;
  justify-content: center;
  gap: 50px;
  margin: auto;
}
.section2_text > h2 {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: var(--text_dark_blue);
  justify-content: space-between;
}
.section2_text > p {
  font-family: var(--roboto);
  opacity: 80%;

  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: var(--p_text_black_40);
  padding-top: 17px;
}
.section2_button > button {
  font-family: var(--roboto);
  font-weight: 700;
  border: none;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--white);
  background-color: var(--blue80);
  border-radius: 35px;
  padding-left: 59.5px;
  padding-right: 59.5px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 60px;
  text-align: left;
}
.section2_button > button:hover{
  background-color: var(--white);
  color: var(--blue80);
  border: 1px solid var(--blue80);
  transition: all 1.2s;
}
.section2_text {
  width: 532px;
  height: 357px;
  text-align: left;
  padding-left: 20px;
}
.section3 {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  height: 725px;
}
.section3_img {
  width: 100%;
  max-width: 854px;
  height: 514px;
  padding-top: 115px;
  padding-right: 9px;
}
.section3_img > img {
  width: 100%;
  max-width: ;
}
.section3_text {
  width: 544px;
  height: 500px;
  padding-top: 175px;
  margin-left: 10px;
}
.section3_text > .section3_text_paragraph {
  padding-top: 69px;
  padding-left: 63px;
}
.section3_text_paragraph > h3 {
  font-family: var(--roboto);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--text_dark_blue);
  padding-bottom: 7px;
}
.section3_text_paragraph > h2 {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: var(--text_dark_blue);
}
.section3_text_paragraph > .p1 {
  font-family: var(--roboto);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--text_dark_blue);
  padding-top: 25px;
}
.section3_text_paragraph > .p2 {
  font-family: var(--roboto);
  opacity: 80%;

  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
}
.section3_text_buttons {
  display: flex;
  gap: 2px;
}
input {
  width: 273px;
  height: 54px;
  margin-top: 36px;
  border-radius: 39px;
  border: 1px solid #e8e8e8;
  padding: 19px 39px;
  background-color: #f4f4f4;
}
.section3_text_buttons > button {
  width: 100%;
  max-width: 172px;
  height: 58px;
  border-radius: 35px;
  padding: 19px 38px;
  background-color: var(--blue80);
  color: var(--white);
  border: none;
  margin-top: 34px;
  margin-left: 17px;
}
.section3_text_buttons > button:hover{
  background-color: var(--white);
color: var(--blue80);
border: 1px solid var(--blue80);
transition: all 1.2s;
}

.section4 {
  width: 100%;
  max-width: 1439px;
  height: 932px;
  margin: auto;
}
.section4_text {
  padding-top: 103px;
}
.section4_text > h1 {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--text_dark_blue);
}
.section4_text > p {
  font-family: var(--roboto);
  opacity: 80%;

  font-weight: 400px;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--p_text_black_40);
  padding-top: 17px;
}
.section4_img > img {
  width: 100%;
  max-width: 1075px;
  height: 330px;
  margin-top: 80px;
  margin-left: 199px;
}
.section4_button > button {
  font-family: var(--roboto);
  font-weight: 700;
  border: none;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--white);
  background-color: var(--blue80);
  border-radius: 35px;
  padding-left: 59.5px;
  padding-right: 59.5px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 80px;
  margin-left: 610px;
  text-align: left;
  margin-bottom: 80px;
}
.section4_button > button:hover{
  background-color: var(--white);
color: var(--blue80);
border: 1px solid var(--blue80);
transition: all 1.2s;
}
.section5 {
  max-width: 1439px;
  height: 932px;
  margin: auto;
  /* padding-top: 200px; */
}
.section5_testemonials > h1 {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
  justify-content: center;
  margin-top: 110px;
}
.section5_ikon > svg {
  margin-left: 644px;
  margin-top: 80px;
}
.section5_testemonials > p {
  width: 697px;
  font-family: var(--roboto);
  opacity: 80%;
  width: 967px;
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  margin: auto;
  padding-top: 60px;
}
.section5_ikonman {
  width: 186px;
  height: 55px;
  display: flex;
}
.section5_ikonman {
  margin: auto;
  margin-top: 52px;
}
.section5_ikonman_text > h6 {
  font-family: var(--roboto);
  opacity: 60%;

  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  text-align: center;
}
.section5_ikonman_text > h5 {
  font-family: var(--roboto);
  opacity: 60%;

  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: left;
}
.section5_ikonman_ikon > img {
  padding-right: 10px;
}
.section5_button > button {
  width: 276px;
  height: 60px;
  border-radius: 35px;
  padding: 16px 47px;
  background-color: var(--blue80);
  color: var(--white);
  border: none;
  margin-left: 581px;
  margin-top: 80px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
}
.section5_button > button:hover{
  background-color: var(--white);
color: var(--blue80);
border: 1px solid var(--blue80);
transition: all 1.2s;
}
.section6 {
  background-color: var(--text_dark_blue);
  width: 100%;
  max-width: 1775px;
  height: 1115px;
  margin-top: -210px;
}
.section6 > h1 {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: var(--white);
  text-align: center;
  justify-content: center;
  padding-bottom: 17px;
  padding-top: 110px;
}
.section6 > p {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: var(--white);
  text-align: center;
  justify-content: center;
}
.section6 > p:nth-of-type(2) {
  padding-bottom: 90px;
}
.section6_box_money {
  width: 100%;
  max-width: 335px;
  height: 607px;
  border: 2px solid red;
  background-color: var(--white);
  margin-top: 43px;
  border-radius: 10px;
  border: 1px solid white;
}
.section6_box {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
  justify-content: center;
}
.section6_box_money_nav > h3 {
  font-family: var(--roboto);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--text_dark_blue);
}
.des {
  padding-top: 43px;
}
.section6_box_money_nav > p {
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: var(--p_text_black_40);
}
.section6_box_money_paragraph_zero > h1 {
  font-family: var(--roboto);
  font-size: 74px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.2px;
  color: var(--text_dark_blue);
  margin-top: 18.5px;
  padding-bottom: 18.5px;
}

.section6_box_money_paragraph {
  display: flex;
  margin-left: 110px;
  gap: 10px;
}
.section6_box_money_paragraph_text_dollar {
  font-family: var(--roboto);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--text_dark_blue);
  margin-top: 30px;
  margin-right: 70px;
}
.section6_box_money_paragraph_text_text {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: var(--p_text_black_40);
}
.section6_box_money_dollar > p {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: var(--text_dark_blue);
  padding: 10px;
  margin-bottom: 10px;
}
.section6_button > button {
  width: 100%;
  max-width: 255px;
  height: 56px;
  border-radius: 35px;
  padding: 18px 38px;
  background-color: var(--blue80);
  color: var(--white);
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-top: 30px;
}
.section6_button > button:hover{
  background-color: var(--white);
color: var(--white);
border: 1px solid var(--blue80);
transition: all 1.2s;
}
.section6_box_money_2 {
  width: 100%;
  max-width: 335px;
  height: 693px;
  background-color: var(--blue80);
  padding-top: 86px;
  border-radius: 10px;
  border: 1px solid gray;
}
.section6_box_money_2 > .section6_box_money_nav > p {
  color: var(--white);
}
.section6_box_money_2 > .section6_box_money_nav > h3 {
  color: var(--white);
}
.section6_box_money_2 .section6_box_money_paragraph_zero > h1 {
  color: var(--white);
}
.dollar > .section6_box_money_paragraph_text_dollar {
  color: var(--white);
}
.permonth > .section6_box_money_paragraph_text_text {
  color: var(--white);
}
.feature5 > .section6_box_money_dollar > p {
  color: var(--white);
}
.featurebut > .section6_button_2 > button {
  color: var(--blue80);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.section6_button_2 > button:hover{
  background-color: var(--blue80);
color: var(--white);
border: 1px solid var(--white);
transition: all 1.2s;
}
.section6_box_money_dollar > p {
  line-height: 28px;
}

.section6_button_2 > button {
  width: 100%;
  max-width: 255px;
  height: 56px;
  border-radius: 35px;
  padding: 18px 38px;
  background-color: var(--white);
  color: var(--blue80);
  border: none;
}
.section6_button > button:hover{
  background-color: var(--white);
color: var(--blue80);
border: 1px solid var(--blue80);
transition: all 1.2s;
}
.section7 {
  width: 100%;
  max-width: 1440px;
  height: 1206px;
  margin: auto;
}
.section7_paragraph > h1 {
  padding-top: 213px;
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: var(--text_dark_blue);
  text-align: center;
  justify-content: center;
}
.section7_paragraph > p {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: var(--p_text_black_40);
  text-align: center;
  justify-content: center;
}
.section7_paragraph > p:nth-of-type(1) {
  padding-top: 17px;
}
.section7_paragraph > p:nth-of-type(2) {
  padding-bottom: 60px;
}
.section7_main {
  display: flex;
  justify-content: space-around;
}
.section7_form {
  width: 453px;
  height: 669px;
  box-shadow: 0px 13px 19px 0px #00000012;
  border-radius: 20px;
  margin-left: 106px;
}
.section7_form > h3 {
  font-family: var(--roboto);
  font-weight: 700px;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--text_dark_blue);
  text-align: center;
  justify-content: center;
  padding-top: 52px;
}
.name {
  width: 353px;
  height: 54px;
  margin-left: 50px;
  background-color: #e8e8e8;
  border-radius: 39px;
}
.email {
  width: 100%;
  max-width: 250px;
  height: 54px;
  margin-left: 50px;
  background-color: #e8e8e8;
  border-radius: 39px;
}
.textaarea {
  width: 353px;
  height: 193px;
  border: 1px solid #e8e8e8;
  justify-content: center;
  margin-left: 50px;
  margin-top: 45px;
  resize: none;
  padding: 23px 20px;
  background-color: #f5f5f5;
}
.section7_button > button {
  width: 145px;
  height: 56px;
  border-radius: 35px;
  background-color: var(--blue80);
  border: none;
  color: var(--white);
  margin-top: 45px;
  margin-left: 50px;
  font-family: var(--roboto);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: var(--white);
}
.section7_button > button:hover{
  background-color: var(--white);
color: var(--blue80);
border: 1px solid var(--blue80);
transition: all 1.2s;
}
.section7_actives {
  display: flex;
  justify-content: space-between;
}
.section_actives_contact > p {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: var(--p_text_black_40);
  text-align: center;
  justify-content: center;
}
.contact1 > svg {
  transform: translateX(110px);
}
.contact2 > svg {
  transform: translateX(40px);
}
.contact3 > svg {
  transform: translateX(80px);
  margin-top: 10px;
}
.contact3 > p {
  transform: translateY(10px);
}
.section7_actives {
  width: 725px;
  height: 108px;
}
.section7_location > iframe {
  margin-left: 70px;
  padding-top: 60px;
}
.section7_ikon {
  width: 100%;
  display: flex;
  width: 33px;
  padding-top: 65px;
  gap: 20px;
  margin-left: -10px;
}
footer {
  width: 100%;
  max-width: 1777px;
  height: 567px;
  background-color: var(--text_dark_blue);
  margin-bottom: 100px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  gap: 5px;
}
.footer_box_1 {
  margin-left: 10px;
}
.footer_box_paragraph > h3 {
  text-align: left;
  font-family: var(--roboto);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--white);
  padding-top: 160px;
  padding-bottom: 25px;
}
.footer_box_paragraph{
  display: flex;
  justify-content: space-around;
  /* gap: 10px; */
}
.footer_box_text > p {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  opacity: 80%;
  letter-spacing: 0.2px;
  color: var(--white);
  text-align: left;
}
.footer_box_4 {
  display: inline-block;
  width: 284px;
  height: 193px;
}
.footer_box_main_location {
  padding-top: 165px;
}

.footer_box_main_number {
  padding-top: 17px;
}
.footer_box_main_number_svg > p {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: var(--white);
}
.footer_box_main_location_svg > p {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: var(--white);
}
.footer_box_main_number_svg {
  display: flex;
  gap: 10px;
}
.footer_box_main_location_svg {
  display: flex;
  transform: translateX(-10px);
  gap: 10px;
}
.footer_box_main_ikon {
  width: 170px;
  padding-top: 40px;
  margin-right: 170px;
  display: flex;
  gap: 30px;
}
.footer_box_main_ikon > svg {
  width: 100%;
  max-width: 33.31px;
}
