@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url(../font/Graphik-BoldItalic-Trial.otf);

:root {
  --white: #ffffff;
  --blue80: #2091f9;
  --text_dark_blue: #252b42;
  --p_text_black_40: #374754;
  --black100: #18171d;
  --roboto: "Roboto";
  --graphik: "Graphik";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1775px;
  border: 2px solid black;
  margin: auto;
  padding-top: 72px;
}
.img_1 {
  position: relative;
  width: 100%;
  max-width: 1775px;
  height: 930px;
}
.container > img {
  width: 100%;
}
.nav {
  position: absolute;
  margin-top: -910px;
  width: 1210px;
  height: 156px;
  display: flex;
  gap: 15.5px;
  margin-left: 182px;
  justify-content: space-between;
  align-items: center;
}
.nav_a > a {
  margin-left: 31px;
  font-family: var(--graphik);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2%;
  color: var(--white);
  text-decoration: none;
  transition: all 0.4s;
  opacity: 70%;
}
.nav_a {
  padding-left: 31px;
  padding-right: 31px;
  display: flex;
  margin-bottom: 38px;
  gap: 13px;
}
.header_button {
  width: 100%;
  max-width: 185px;
  border: 1px solid var(--graphik);
  border-radius: 24px;
  transition: all 0.4s;
  padding: 12px 0;
  font-family: var(--graphik);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 1%;
  color: var(--blue80);
  background-color: var(--white);
  cursor: pointer;
  transform: translateX(-30px);
}
.nav_text {
  margin-bottom: -900px;
  position: absolute;
  align-items: center;
  margin-left: 494px;
  margin-top: -175px;
  transform: translateX(-280px);
}
.nav_text > h1 {
  font-weight: 700;
  font-size: 74px;
  line-height: 84px;
  letter-spacing: 0.2px;
  color: var(--white);
  text-align: center;
  justify-content: center;
}
.nav_text > p {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: var(--white);
  text-align: center;
  justify-content: center;
  padding-top: 17px;
}
.logo_nav {
  width: 50%;
  margin-right: 24.3%;
  margin-bottom: 30px;
}
.ikon_nav {
  margin-left: 20px;
  display: flex;
  gap: 27px;
  margin-right: 30%;
  margin-bottom: 40px;
}
.header_button {
  text-align: center;
  justify-content: center;
  margin-left: 295px;
  margin-top: 60px;
  font-family: var(--graphik);
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--white);
  background-color: var(--blue80);
}
.section1_header {
  padding-top: 115px;
}
.section1_header > h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  font-family: var(--graphik);
  color: var(--text_dark_blue);
  text-align: center;
  justify-content: center;
  padding-bottom: 17px;
}
.section1_header > p {
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  font-family: var(--graphik);
  color: var(--text_dark_blue);
  text-align: center;
  justify-content: center;
}
.section1_variables {
  display: flex;
  justify-content: space-evenly;
  width: 869px;
  margin: auto;
  padding-top: 80px;
}
.header_section {
  width: 255px;
  height: 257px;
}
.header_section > h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  font-family: var(--graphik);
  color: var(--text_dark_blue);
  text-align: center;
  justify-content: center;
}
.header_section > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
  font-family: var(--graphik);
  color: var(--text_dark_blue);
  text-align: center;
  justify-content: center;
}
.header_section > svg {
  margin-left: 109px;
}
.section1_img > img {
  margin: 238px;
  display: flex;
  margin: auto;
}
.nav_button_nev {
  transform: translateY(40px);
}
.section2 {
  width: 100%;
  display: flex;
  padding-bottom: 100px;
  padding-top: 226px;
  justify-content: space-around;
  width: 1243px;
  margin: auto;
}
.section2_text > h2 {
  font-family: var(--graphik);
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: var(--text_dark_blue);
  justify-content: space-between;
}
.section2_text > p {
  font-family: var(--graphik);
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: var(--p_text_black_40);
  padding-top: 17px;
}
.section2_button > button {
  font-family: var(--graphik);
  font-weight: 700;
  border: none;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--white);
  background-color: var(--blue80);
  border-radius: 35px;
  padding-left: 59.5px;
  padding-right: 59.5px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 60px;
  text-align: left;
}
.section2_text {
  width: 532px;
  height: 357px;
  text-align: left;
  padding-left: 20px;
}
.section3 {
  width: 100%;
  max-width: 1439px;
  margin: auto;
  display: flex;
}
.section3_img {
  width: 854px;
  height: 514px;
  padding-top: 115px;
}
.section3_img > img {
  width: 100%;
}
.section3_text {
  width: 544px;
  height: 500px;
  padding-top: 175px;
  margin-left: 50px;
}
.section3_text > .section3_text_paragraph {
  padding-top: 69px;
  padding-left: 63px;
}
.section3_text_paragraph > h3 {
  font-family: var(--graphik);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--text_dark_blue);
  padding-bottom: 7px;
}
.section3_text_paragraph > h2 {
  font-family: var(--graphik);
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: var(--text_dark_blue);
}
.section3_text_paragraph > .p1 {
  font-family: var(--graphik);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--text_dark_blue);
  padding-top: 25px;
}
.section3_text_paragraph > .p2 {
  font-family: var(--graphik);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
}
.section3_text_buttons {
  display: flex;
  padding-left: 63px;
}
input {
  width: 273px;
  height: 54px;
  margin-top: 36px;
  border-radius: 39px;
  border: 1px solid #e8e8e8;
  padding: 19px 39px;
  gap: 64px;
  background-color: #f4f4f4;
}
.section3_text_buttons > button {
  width: 172px;
  height: 58px;
  border-radius: 35px;
  padding: 19px 38px;
  background-color: var(--blue80);
  color: var(--white);
  border: none;
  margin-top: 34px;
  margin-left: 17px;
}
.section4 {
  width: 100%;
  max-width: 1439px;
  height: 932px;
  margin: auto;
}
.section4_text {
  padding-top: 330px;
}
.section4_text > h1 {
  font-family: var(--graphik);
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--text_dark_blue);
}
.section4_text > p {
  font-family: var(--graphik);
  font-weight: 400px;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--p_text_black_40);
  padding-top: 17px;
}
.section4_img > img {
  width: 100%;
  max-width: 1075px;
  height: 330px;
  margin-top: 80px;
  margin-left: 199px;
}
.section4_button > button {
  font-family: var(--graphik);
  font-weight: 700;
  border: none;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--white);
  background-color: var(--blue80);
  border-radius: 35px;
  padding-left: 59.5px;
  padding-right: 59.5px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 80px;
  margin-left: 610px;
  text-align: left;
  margin-bottom: 80px;
}
.section5 {
  max-width: 1439px;
  height: 932px;
  margin: auto;
  padding-top: 200px;
}
.section5_testemonials > h1 {
  font-family: var(--graphik);
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  text-align: center;
  justify-content: center;
  margin-top: 110px;
}
.section5_ikon > svg {
  margin-left: 644px;
  margin-top: 80px;
}
.section5_testemonials > p {
  width: 697px;
  font-family: var(--graphik);
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  margin: auto;
  padding-top: 60px;
}
.section5_ikonman {
  width: 186px;
  height: 55px;
  display: flex;
}
.section5_ikonman {
  margin: auto;
  margin-top: 52px;
}
.section5_ikonman_text > h6 {
  font-family: var(--graphik);
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  text-align: center;
}
.section5_ikonman_text > h5 {
  font-family: var(--graphik);
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: left;
}
.section5_ikonman_ikon > img {
  padding-right: 10px;
}
.section5_button > button {
  width: 276px;
  height: 60px;
  border-radius: 35px;
  padding: 16px 47px;
  background-color: var(--blue80);
  color: var(--white);
  border: none;
  margin-left: 581px;
  margin-top: 80px;
}
.section6 {
  background-color: var(--text_dark_blue);
  /* border: 2px solid red; */
  width: 100%;
  max-width: 1775px;
  height: 1115px;
}
.section6 > h1 {
  font-family: var(--graphik);
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: var(--white);
  text-align: center;
  justify-content: center;
  padding-bottom: 17px;
  padding-top: 110px;
}
.section6 > p {
  font-family: var(--graphik);
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: var(--white);
  text-align: center;
  justify-content: center;
}
.section6 > p:nth-of-type(2){
  padding-bottom: 90px;

}
.section6_box_money {
  width: 100%;
  max-width: 335px;
  height: 607px;
  /* border: 2px solid red; */
  background-color: var(--white);
  margin-top: 43px;
  border-radius: 10px;
  border: 1px solid white;
  
}
.section6_box {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
  justify-content: center;
}
.section6_box_money_nav > h3 {
  font-family: var(--graphik);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--text_dark_blue);
}
.des{
  padding-top: 43px;

}
.section6_box_money_nav > p {
  font-family: var(--graphik);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: var(--p_text_black_40);
}
.section6_box_money_paragraph_zero > h1 {
  font-family: var(--graphik);
  font-size: 74px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.2px;
  color: var(--text_dark_blue);
  margin-top: 18.5px;
  padding-bottom: 18.5px;
}
.section6_box_money_paragraph {
  display: flex;
  margin-left: 110px;
}
.section6_box_money_paragraph_text_dollar {
  font-family: var(--graphik);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: var(--text_dark_blue);
  margin-top: 30px;
}
.section6_box_money_paragraph_text_text {
  font-family: var(--graphik);
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: var(--p_text_black_40);
}
.section6_box_money_dollar > p {
  font-family: var(--graphik);
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: var(--text_dark_blue);
  padding: 10px;
  margin-bottom: 10px;
}
.section6_button > button {
  width: 100%;
  max-width: 255px;
  height: 56px;
  border-radius: 35px;
  padding: 18px 38px;
  background-color: var(--blue80);
  color: var(--white);
  border: none;
}
.section6_box_money_2{
  width: 100%;
  max-width: 335px;
  height: 693px;
  /* border: 2px solid red; */
  background-color: var(--blue80);
  padding-top: 86px;
  border-radius: 10px;
  border: 1px solid gray;
}
.section6_button_2 > button{
  width: 100%;
  max-width: 255px;
  height: 56px;
  border-radius: 35px;
  padding: 18px 38px;
  background-color: var(--white);
  color: var(--blue80);
  border: none;
}
